.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  font-family: 'Arial', sans-serif;
  background-color: #f7f9fc;
  border-radius: 8px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.filter-container {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.main-container {
  border: 1px solid #ddd;
  padding: 20px;
  border-radius: 8px;
  background-color: #ffffff;
}